.navigation {
  display: flex;
  justify-content: space-between;

  color: white;
}

.navigation div p {
  margin: 1em;
}

.navLink {
  margin-left: 1em;
  text-decoration: none;
  color: inherit;
}

.navLink:hover {
  color: gray;
}
