header {
  background-color: blue;
}

.navigation {
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
  color: white;
}

.navigation div {
  margin: 1em;

  display: flex;
}

.navigation div p {
  margin: 1em;
}

a {
  margin: 1em;
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

a:hover {
  color: gray;
}
