* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;

  min-height: 100vh;
  font-size: 2vw;
}

header {
  padding: 1em;
  color: white;
  text-align: center;
  background-color: blue;
}
h4 {
  font-size: 1.5vw;
}

section {
  margin: 1em;

  position: relative;
}

img {
  width: 60%;
  height: auto;
}
