* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  /* max-width: 100%; */
  min-height: 100vh;
  font-size: 2vw;
}

header {
  padding: 1em;
  color: white;
  text-align: center;
}
